appdirs==1.4.4
breezy==3.2.0
CacheControl==0.12.6
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==8.0.0
colorama==0.4.4
configobj==5.1.0.dev0
contextlib2==0.6.0.post1
cryptography==3.4.7
distlib==0.3.1
distro==1.5.0
dulwich==0.20.21
fastimport==0.9.12
filelock==3.0.12
Flask==2.0.0
html5lib==1.1
idna==3.1
itsdangerous==2.0.0
Jinja2==3.0.0
MarkupSafe==2.0.0
mercurial==5.8
msgpack==1.0.2
ordered-set==4.0.2
packaging==20.9
patiencediff==0.2.2
pep517==0.10.0
ply==3.11
progress==1.5
pycparser==2.20
pyOpenSSL==20.0.1
pyparsing==2.4.7
pytoml==0.1.21
requests==2.25.1
resolvelib==0.5.4
retrying==1.3.3
six==1.15.0
toml==0.10.2
urllib3==1.26.4
validate==5.1.0.dev0
virtualenv==20.4.5
webencodings==0.5.1
Werkzeug==2.0.0
